.prices-section {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    column-gap: 30px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: space-between;
    }
  }

  &__list-item {
    flex-basis: 100%;
    max-width: 340px;
    height: 100%;
    flex-shrink: 0;
    margin: auto;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $bp-desktop) {
      flex-basis: calc((100% - 30px * 2) / 3);
    }
  }
}
