.product-swiper {
  width: 100%;
  display: flex;
  margin-left: 0;
  margin-bottom: 145px;

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(65px, 1fr));
    gap: 9px;

    @media screen and (min-width: $bp-laptop) {
      gap: 20px;
    }
  }

  &__cell {
    &--big-l {
      grid-column: 1 / 3;
      grid-row: span 2;
    }

    &--big-r {
      grid-column: 3 / 5;
      grid-row: span 2;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;

    @media screen and (min-width: $bp-laptop) {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__btn {
    position: absolute;
    bottom: 40px;
  }
}
